.banner{
    display: flex;
    justify-content: center;
    background-color: #C9E265;
}
.titulo{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px #000000;
}
.titulo-contacto{
    display: flex;
    justify-content: center;
}
.boton-redes{
    display: flex;
    justify-content: center;
}
.visualizar-correo{
    display: flex;
    justify-content: center;
    
}