.banner{
    display: flex;
    justify-content: center;
    background-color: #C9E265;
}
.titulo{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px #000000;
}
.objetivos-primera-linea{
    display: flex;
    justify-content: space-around;
}
.objetivos-segunda-linea{
    display: flex;
    justify-content: center;
}

.carta-presentacion{
    margin-left: 50px;
    margin-right: 50px;
}
.carta-presentacion-objetivos{
    margin-left: 50px;
    margin-right: 50px;
}
.organigrama{
    display: flex;
    justify-content: center;
}